* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Mada', sans-serif;
    color: #eee;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #fbe2e5;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

/*heading*/
header {
    width: 100%;
    height: 100vh;
}
.nav{
    width: 100%;
    height: 100vh;
    position: fixed;
}

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    color: #fbe2e5;
    margin-bottom: 5rem;
}

.section-heading h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: #b3b3b3;

}

.section-heading h2::before,
.section-heading h2::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fbe2e5;
}

.section-heading h2::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h2::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1.1rem;
}

.section-heading h6 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #b3b3b3;
}

.has-margin-right {
    margin-right: 5rem 0 ;
}


/*navigation & buttons styling*/
.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*creating seperation between the buttons*/
li {
    margin: 0 2rem;
}

.nav-link {
    font-family: 'Montserrat'sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.btn {
    font-family: 'Mada', sans-serif;
    color: #000000 !important;
    text-transform: uppercase;
    background: #ffffff;
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #fbe2e5 !important;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    letter-spacing: 0.15em;
    font-weight: 400;
}

.btn:hover {
    color: #fbe2e5 !important;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.btn:focus {
    color: #ffffff !important;
    border-radius: 50px;
    background: #fbe2e5;
    border-color: none;
}

.button-container {
    text-align: center;
}

/*header are styling*/
.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 5rem;
    font-family: 'Mada'sans-serif;
    background:linear-gradient(to top, #a9a9a9, #ffcce6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1 rem;
    user-select: none;
}

h1 {
    text-align: center;
    padding: 2rem 0 5rem;
    font-family: 'Mada', cursive;
    font-size: 3.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: black;
}

/*about me styling*/
/*.about {
    margin: 5px;
    padding: 10px;
}*/

.about.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 5rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .1;
}
.about-heading h6{
    font-size: 1rem;
    font-weight: 300;
}

.about-infos {
    flex: 1;
    width: 50rem;
}

.profile-img {
    width: 50rem;
    flex: 1;
    /*separation btwn img and text*/
    margin-right: 4rem;
}

/*social-media icons*/
.social-media {
    margin-top: 2rem;
}

.social-media i {
    font-size: 3rem;
    transition: color 650ms;
}

.social-media .fa-linkedin:hover {
    color: #007bb6;
}

.fa-github:hover {
    color: #00405d;
}

.fa-codepen:hover {
    color: #000000;
}

/*Skills bar*/
section h6{
    background:linear-gradient(to top, #a9a9a9, #ffcce6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1 rem;
    user-select: none;
}
.skills h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    color: #b3b3b3;
}
.skills h6{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
    background:linear-gradient(to top, #a9a9a9, #ffcce6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1 rem;
    user-select: none;
}
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}


/*Portfolio styling*/
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img {
    width: 50rem;
    flex: 1;
}

.portfolio-description {
    flex: 1;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #b3b3b3;
}

.cta {
    display: inline-block;
    margin-top: .5rem;
    font-size: 1rem;
    text-transform: uppercase;
    background:linear-gradient(to top, #a9a9a9, #ffcce6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1 rem;
    user-select: none;
}

.cta:hover {
    color: #ffcce6;
}

.portfolio-img {
    width: 50rem;
    flex: 1;
}

.timeline ul {
    border-left: 4px solid  #f6bcc2;
    background:linear-gradient(to top, #a9a9a9, #ffcce6, #a9a9a9);
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline.date {
    border-bottom: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

/*Contact*/
.contact {
    background-color: #efefef;

}

form {
    width: 70%;
    margin: 0 auto;
}

form label {
    font-size: 1.5rem
}

input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #ffcce6;
}

select {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #ffcce6;
}

textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #ffcce6;
}

.submit {
    width: initial;
    background-color: #fbe2e5;
    background:linear-gradient(to top,#ffcce6 ,#a9a9a9,);
    color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

/*footer styling*/
.copywright {
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding: 2rem 0;
    position: relative;
}

/*Media queries*/

